<%- include("./partials/head") %>
<body>
    <div class="page-container">
    <%- include("./partials/navbar") %>
    <div class="hang">
        <p><strong>Welcome,</strong> <% if (user.role === "professor") { %> Prof. <% } %> <%= user.firstName %> <%= user.lastName %></p>
        <div class="hang-right"><a href="/profile/<%=user.username%>">Profile</a><a href="/auth/logout">Logout</a></div>
    </div>
    

    <center><h1 style="margin-top:2rem;">All Modules</h1></center>
    <div>
        <div class="wrapper">
            <% if (noclass === false) { %>
            <% data.forEach(cls => { %>
            <a href="/classes/<%= cls.id %>">
                <div class="card">
                    <div class="card-banner">
                        <img class="banner-img" src="/<%= cls.image %>" alt="Banner Image">
                    </div>
                    <div class="card-body">
                        <h2 class="blog-title"><%= cls.module %></h2>
                        <p class="blog-time"><%= cls.timeago %></p>
                        <p><%= cls.snippet %></p>
                        <div class="card-profile">
                            <h3>by</h3>
                            <div class="card-profile-info">
                                <h3 class="profile-name"><%= cls.by.firstName %> <%= cls.by.lastName %></h3>
                                <p class="profile-tagline">KnapSack</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <% }); %>
            <% } else {%>
            <h3>No Modules Found.</h3>
            <% } %>
        </div>
        <% if (user.role === "professor" || user.role === "admin") { %>
            <div class="categories-container-two">
                <a href="/classes/add">
                    <div class="category">
                        <p><img class="icon-image" src="/assets/circle-plus-solid.svg" alt=""></p>
                    </div>
                </a>
        </div>
        <% } %>
    </div>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>